doctype xml
rss(version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title brock.ly RSS
    link(href='http://brock.ly/')
    description A development blog by Matt Brock
    atom:link(href='http://brock.ly/rss', rel='self', type='application/rss+xml')
    each post in posts
      - var fullUrl = 'http://brock.ly/' + post.url
      item
        title= post.title
        link(href= fullUrl)
        description
          | <![CDATA[
          | !{post.preview}
          | ]]>
        pubDate= post.date.toUTCString()
        guid= fullUrl
