{{{
	"title": "Welcome",
	"tags": ["blog"],
	"category": "brock.ly",
	"date": "4-14-2014"
}}}

p Welcome to brock.ly. 
| This is a software development blog created by me, Matt Brock, using <a href='http://nodejs.org'>Node.js</a> and <a href='http://jsantell.github.io/poet/'>Poet</a>.
| I wanted to start a blog for a while but I couldn't settle on the technology.

p
p Here were my requirements:
p

h4 I want to build it

p I am a developer and I want to use my skills to build my blog.
| For most people, this is not a requirement.
| They would (and should) just spin up a blog on one of the many existing blog sites like <a href='https://www.blogger.com/features'>Blogger</a> or <a href='http://wordpress.com/'>WordPress</a> and be done with it.
| Instead, I saw this as an opportunity to build something new and gain some skills in an area that I don't get an opportunity to work in very often.
| Working with <a href='#'>Node</a>, <a href='#'>Express</a>, <a href='#'>Poet</a>, and <a href='#'>Jade</a> is a nice respit from the day to day work required in my job.
| In addition, I get a chance to gain some experience building a site that works on mobile devices as well as desktop browsers using <a href='#'>Bootstrap</a>.

h4 I want to give back to the community

p Sharing information about technology is great, but I always thought it would be cool to share <a href='#'>the blog solution itself</a>.
| I know this is not a new idea (Ayende did it with <a href='http://ayende.com/blog/4837/and-now-raccoon-blog'>Raccoon Blog</a>) but it is still a great way for me to share a working Node solution and possibly help others get started building their own Node sites.
| This site is setup to deploy strait from github so anybody interested in how it works can <a href='#'>check it out</a> anytime.

//	ol
//		li I want to build the site, not add a blog to an existing site like 
//		li I want the site to be cheap to host. That means no database, and no Microsoft (sorry <a href='http://ayende.com/blog/4837/and-now-raccoon-blog'>Raccoon Blog</a>).
//		li I want to have fun.

//h4 I want to have fun

//p
//p This last requirement, fun, is really the most important if the project was ever going to get off the ground. 

//p My friend <a href='http://www.binoot.com/'>Binu</a> suggested that I keep the published content static.
