{{{
	"title": "Welcome",
	"tags": ["blog"],
	"category": "brock.ly",
	"date": "4-14-2014"
}}}

p Welcome to brock.ly. This blog was created by Matt Brock using <a href='http://nodejs.org'>Node.js</a> and <a href='http://jsantell.github.io/poet/'>Poet</a>.
