{{{
	"id": "20140603_GitHubAsSeo",
	"title": "Using GitHub for SEO",
	"tags": ["GitHub", "SEO"],
	"category": "brock.ly",
	"date": "6-3-2014"
}}}

p An interesting thing happened to me today. I searched for my parser combinator post and it came up as the first hit!
	| Good thing this blog is on GitHub.

img(alt='brock.ly post on github number one' src='/images/brockly-search-results.png')
